<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentation
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Name
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Direction
		</div>
		<div>
			<select name="direction" ng-model="selectedElement.direction"><option  selected  value="None">None</option><option  value="From">One</option><option  value="Both">Both</option></select>
		</div>
	</div>None</div>