<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			subElements
		</div>
		<div>
			<input name="subElements" ng-model="selectedElement.subElements"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			id
		</div>
		<div>
			<input name="id" ng-model="selectedElement.id"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			shape
		</div>
		<div>
			<input name="shape" ng-model="selectedElement.shape"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			x
		</div>
		<div>
			<input name="x" ng-model="selectedElement.x"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			y
		</div>
		<div>
			<input name="y" ng-model="selectedElement.y"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			width
		</div>
		<div>
			<input name="width" ng-model="selectedElement.width"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			height
		</div>
		<div>
			<input name="height" ng-model="selectedElement.height"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			colorFill
		</div>
		<div>
			<input name="colorFill" ng-model="selectedElement.colorFill"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentation
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div></div>