<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentation
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			ArtifactType
		</div>
		<div>
			<input name="artifacttype" ng-model="selectedElement.artifacttype"></input>
		</div>
	</div>DataStore
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Name
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			State
		</div>
		<div>
			<input name="state" ng-model="selectedElement.state"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Capacity
		</div>
		<div>
			<input name="capacity" ng-model="selectedElement.capacity"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Is unlimited
		</div>
		<div>
			<input name="isUnlimited" ng-model="selectedElement.isUnlimited"></input>
		</div>
	</div>false</div>