<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Form Id
		</div>
		<div>
			<input name="formId" ng-model="selectedElement.formId"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Form Name
		</div>
		<div>
			<input name="formName" ng-model="selectedElement.formName"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Form Title
		</div>
		<div>
			<input name="formDesc" ng-model="selectedElement.formDesc"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Attributes
		</div>
		<div>
			<input name="doc" ng-model="selectedElement.doc"></input>
		</div>
	</div><div></div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Events
		</div>
		<div>
			<input name="frmEvents" ng-model="selectedElement.frmEvents"></input>
		</div>
	</div><div></div></div>