<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Name
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Id
		</div>
		<div>
			<input name="id" ng-model="selectedElement.id"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Condition
		</div>
		<div>
			<input name="condition" ng-model="selectedElement.condition"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			ConditionDoc
		</div>
		<div>
			<input name="conditionDoc" ng-model="selectedElement.conditionDoc"></input>
		</div>
	</div></div>