<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentation
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Name
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		</div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			EventType
		</div>
		<div>
			<input name="eventtype" ng-model="selectedElement.eventtype"></input>
		</div>
	</div>Start
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			EventDetailType
		</div>
		<div>
			<select name="eventdetailtype" ng-model="selectedElement.eventdetailtype"><option  selected  value="None">None</option><option  value="Message">Message</option><option  value="Timer">Timer</option><option  value="Signal">Signal</option></select>
		</div>
	</div>None</div>