<div ng-controller="FileActionsController as fileController">
	<div ng-click="fileController.save()">save</div>
	<div ng-click="fileController.load()"><input type="file" id="fileBrowse" />load</div>
	<div ng-click="fileController.clear()">clear</div>
	<div ng-click="fileController.saveImage()">save image</div>
	<div ng-click="fileController.saveDoc()">save doc</div>
	<div ng-click="fileController.history()">history</div>
	<div ng-click="fileController.processLibrary()">process library</div>
	<div ng-click="fileController.undo()">undo</div>
	<div ng-click="fileController.redo()">redo</div>
</div>