<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Nombre
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Dirección
		</div>
		<div>
			<select name="direction" ng-model="selectedElement.direction"><option  selected  value="None">Ninguna</option><option  value="From">Direccional</option><option  value="Both">Ambas</option></select>
		<div>
	</div>None</div>