<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Eventos de proceso
		</div>
		<div>
			<input name="bussinessclasses" ng-model="selectedElement.bussinessclasses"></input>
		<div>
	</div><div></div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			protype
		</div>
		<div>
			<input name="protype" ng-model="selectedElement.protype"></input>
		<div>
	</div>"C"</div>