<div>
	<div class="row" ng-show="selectedElement.looptype=='Standard'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Nombre
		</div>
		<div>
			<select name="name" ng-model="selectedElement.name"><option  selected  value="DEFAULT_PROCESS">undefined</option></select>
		<div>
	</div>DEFAULT_PROCESS
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Tipo
		</div>
		<div>
			<select name="subprocesstype" ng-model="selectedElement.subprocesstype"><option  selected  value="Embedded">Embedded</option><option  value="Reusable">Reusable</option></select>
		<div>
	</div>Embedded
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			IsATransaction
		</div>
		<div>
			<input name="transaction" ng-model="selectedElement.transaction"></input>
		<div>
	</div>false
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			ActivityType
		</div>
		<div>
			<input name="activitytype" ng-model="selectedElement.activitytype"></input>
		<div>
	</div>Sub-Process
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Tipo de Loop
		</div>
		<div>
			<select name="looptype" ng-model="selectedElement.looptype"><option  selected  value="None">None</option><option  value="Standard">Standard</option><option  value="MultiInstance">MultiInstance</option></select>
		<div>
	</div>None
	<div class="row" ng-show="selectedElement.looptype=='Standard'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			Condición de Loop
		</div>
		<div>
			<input name="loopcondition" ng-model="selectedElement.loopcondition"></input>
		<div>
	</div>
	<div class="row" ng-show="selectedElement.looptype=='Standard'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			Doc. de condición
		</div>
		<div>
			<input name="loopdocumentation" ng-model="selectedElement.loopdocumentation"></input>
		<div>
	</div>
	<div class="row" ng-show="selectedElement.looptype=='MultiInstance'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard'">
		<div class="col-md-2">
			Multiplicación
		</div>
		<div>
			<input name="mi_condition" ng-model="selectedElement.mi_condition"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			LoopCounter
		</div>
		<div>
			<input name="loopcounter" ng-model="selectedElement.loopcounter"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			LoopMaximum
		</div>
		<div>
			<input name="loopmaximum" ng-model="selectedElement.loopmaximum"></input>
		<div>
	</div>
	<div class="row" ng-show="selectedElement.looptype=='Standard'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='MultiInstance'">
		<div class="col-md-2">
			TestTime
		</div>
		<div>
			<select name="testtime" ng-model="selectedElement.testtime"><option  selected  value="After">After</option><option  value="Before">Before</option></select>
		<div>
	</div>"After"
	<div class="row" ng-show="selectedElement.looptype=='MultiInstance'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard'">
		<div class="col-md-2">
			MI_Ordering
		</div>
		<div>
			<select name="mi_ordering" ng-model="selectedElement.mi_ordering"><option  selected  value="Parallel">Parallel</option><option  value="Sequential">Sequential</option></select>
		<div>
	</div>"Parallel"
	<div class="row" ng-show="selectedElement.mi_ordering=='Parallel' && selectedElement.mi_flowcondition=='Complex'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard' && selectedElement.looptype=='MultiInstance' && selectedElement.mi_ordering=='Parallel' && selectedElement.mi_ordering=='Sequential' && selectedElement.mi_flowcondition=='All' && selectedElement.mi_flowcondition=='One'">
		<div class="col-md-2">
			MI_FlowCondition
		</div>
		<div>
			<select name="mi_flowcondition" ng-model="selectedElement.mi_flowcondition"><option  selected  value="All">All</option><option  value="One">One</option><option  value="Complex">Complex</option></select>
		<div>
	</div>"All"
	<div class="row" ng-show="selectedElement.mi_flowcondition=='Complex'" ng-hide="selectedElement.looptype=='None' && selectedElement.looptype=='Standard' && selectedElement.looptype=='MultiInstance' && selectedElement.mi_ordering=='Parallel' && selectedElement.mi_ordering=='Sequential' && selectedElement.mi_flowcondition=='All' && selectedElement.mi_flowcondition=='One'">
		<div class="col-md-2">
			ComplexMI_FlowCondition
		</div>
		<div>
			<input name="complexmi_flowcondition" ng-model="selectedElement.complexmi_flowcondition"></input>
		<div>
	</div>
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			FirstTask
		</div>
		<div>
			<input name="firsttask" ng-model="selectedElement.firsttask"></input>
		<div>
	</div>"false"
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			Id. de entidad
		</div>
		<div>
			<input name="entity" ng-model="selectedElement.entity"></input>
		<div>
	</div>
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			Formularios de proceso
		</div>
		<div>
			<input name="processforms" ng-model="selectedElement.processforms"></input>
		<div>
	</div><div></div>
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			Formularios de entidad
		</div>
		<div>
			<input name="entityforms" ng-model="selectedElement.entityforms"></input>
		<div>
	</div><div></div>
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			Ejecución
		</div>
		<div>
			<select name="execution" ng-model="selectedElement.execution"><option  selected  value="SYNCHR">Sincronizado</option><option  value="ASYNCHR">No sincronizado</option></select>
		<div>
	</div>SYNCHR
	<div class="row" ng-show="selectedElement.subprocesstype=='Reusable'" ng-hide="selectedElement.subprocesstype=='Embedded'">
		<div class="col-md-2">
			Saltear primera tarea
		</div>
		<div>
			<input name="skipfirsttask" ng-model="selectedElement.skipfirsttask"></input>
		<div>
	</div>false</div>