<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Event Name
		</div>
		<div>
			<select name="evtName" ng-model="selectedElement.evtName"><option  selected  value="ONCREATE">ONCREATE</option><option  value="ONCOMPLETE">ONCOMPLETE</option><option  value="ONCANCEL">ONCANCEL</option><option  value="ONWARNING">ONWARNING</option><option  value="ONOVERDUE">ONOVERDUE</option><option  value="ONDETAIL">ONDETAIL</option><option  value="ONSUSPEND">ONSUSPEND</option><option  value="ONRESUME">ONRESUME</option><option  value="ONROLLBACK">ONROLLBACK</option><option  value="ONFINALIZE">ONFINALIZE</option></select>
		<div>
	</div>"ONCREATE"
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Business Class
		</div>
		<div>
			<input name="clsName" ng-model="selectedElement.clsName"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Business Class Description
		</div>
		<div>
			<input name="clsDesc" ng-model="selectedElement.clsDesc"></input>
		<div>
	</div></div>