<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Nombre
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Mensaje de referencia
		</div>
		<div>
			<input name="messageref" ng-model="selectedElement.messageref"></input>
		<div>
	</div>{}; ////Messageref
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			User Attributes
		</div>
		<div>
			<input name="userattributes" ng-model="selectedElement.userattributes"></input>
		<div>
	</div><div></div></div>