<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentation
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Name
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Boundaryvisible
		</div>
		<div>
			<input name="boundaryvisible" ng-model="selectedElement.boundaryvisible"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Visible
		</div>
		<div>
			<input name="Visible" ng-model="selectedElement.Visible"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Process
		</div>
		<div>
			<input name="process" ng-model="selectedElement.process"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Lanes
		</div>
		<div>
			<input name="lanes" ng-model="selectedElement.lanes"></input>
		<div>
	</div></div>