<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Nombre
		</div>
		<div>
			<input name="name" ng-model="selectedElement.name"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			EventType
		</div>
		<div>
			<input name="eventtype" ng-model="selectedElement.eventtype"></input>
		<div>
	</div>Start
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Tipo
		</div>
		<div>
			<select name="eventdetailtype" ng-model="selectedElement.eventdetailtype"><option  selected  value="None">None</option><option  value="Message">Message</option><option  value="Timer">Timer</option><option  value="Signal">Signal</option></select>
		<div>
	</div>None
	<div class="row" ng-show="selectedElement.eventdetailtype=='Message'" ng-hide="selectedElement.eventdetailtype=='None' && selectedElement.eventdetailtype=='Timer' && selectedElement.eventdetailtype=='Signal'">
		<div class="col-md-2">
			Message
		</div>
		<div>
			<input name="message" ng-model="selectedElement.message"></input>
		<div>
	</div>{}; ////Message
	<div class="row" ng-show="selectedElement.eventdetailtype=='Timer'" ng-hide="selectedElement.eventdetailtype=='None' && selectedElement.eventdetailtype=='Message' && selectedElement.eventdetailtype=='Signal'">
		<div class="col-md-2">
			Timer
		</div>
		<div>
			<input name="timer" ng-model="selectedElement.timer"></input>
		<div>
	</div>{}; ////Timer
	<div class="row" ng-show="" ng-hide="selectedElement.eventdetailtype=='None' && selectedElement.eventdetailtype=='Message' && selectedElement.eventdetailtype=='Timer' && selectedElement.eventdetailtype=='Signal'">
		<div class="col-md-2">
			Multiple
		</div>
		<div>
			<input name="multiple" ng-model="selectedElement.multiple"></input>
		<div>
	</div>{}; ////Multiple
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			User Attributes
		</div>
		<div>
			<input name="userattributes" ng-model="selectedElement.userattributes"></input>
		<div>
	</div><div></div></div>