<div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Documentación
		</div>
		<div>
			<input name="documentation" ng-model="selectedElement.documentation"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			ArtifactType
		</div>
		<div>
			<input name="artifacttype" ng-model="selectedElement.artifacttype"></input>
		<div>
	</div>Annotation
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			Texto
		</div>
		<div>
			<input name="text" ng-model="selectedElement.text"></input>
		<div>
	</div>
	<div class="row" ng-show="" ng-hide="">
		<div class="col-md-2">
			User Attributes
		</div>
		<div>
			<input name="userattributes" ng-model="selectedElement.userattributes"></input>
		<div>
	</div><div></div></div>